<!DOCTYPE html>
<html lang="ja">
  <% const title='研究活動'%>
  <%- include src/head.ejs %>
  <div class="wrapper">
    <body>
      <%- include src/header.ejs %>
      <section class="section">
        <div class="container">
          <% const crumbs=[[title,'research.html']] %>
          <%- include src/breadcrumb%>
          <div class="container">
            <main role="main">
              <div class="content">
              <%- include src/publications.html %>
              </div>
            </main>
          </div>
        </div>
      </section>
      <%- include src/footer.html %>
    </body>
  </div>
</html>
