<div class="column is-one-third">
  <div class="card">
    <div class="card-content">
      <dl>
        <dt class="title is-5"><%-staff.name%> <a class="no-decoration" target="_blank" rel="noopener noreferrer" href="<%-staff.url%>"><span class="icon"><i class="fas fa-external-link-square-alt"></i></span></a></dt>
        <dd>
          <span class="icon">
            <i class="fas fa-graduation-cap"></i>
          </span>
          <%-staff.position%>
        </dd>
        <dd>
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <%-staff.email%>
        </dd>
        <dd>
          <span class="icon">
            <i class="fas fa-map-marker"></i>
          </span>
          <%-staff.room%>
        </dd>
      </dl>
    </div>
  </div>
</div>
